each message, index in messages
  .message(class=message.whichClass,data-status=message.status)
    if message.picture
      .picture
        .triangle
        img(src=message.picture)
    else
      .picture.icon-user
      .triangle
    .copy #{message.body}
    if message.date_sent && message.date_sent.sec != 0
      .date: abbr.timestamp(data-stamp=message.date_sent.sec) loading
    else if message.date && message.date.sec != 0
      .date: abbr.timestamp(data-stamp=message.date.sec) loading
    else
      .date
        include _tloader
